*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
scroll-behavior:smooth;
}



body{

background:linear-gradient(to right,#ffecd2,#fcb69f);

}




nav{

background:#667eea;

padding:15px;

text-align:center;

position:sticky;

top:0;

}



nav a{

color:white;

text-decoration:none;

margin:15px;

font-weight:bold;

}




.hero{

background:linear-gradient(135deg,#ff6a00,#ee0979);

text-align:center;

padding:80px 20px;

color:white;

}



.profile-pic{

width:150px;

height:150px;

border-radius:50%;

border:5px solid white;

}




.hero button{

padding:12px 25px;

border:none;

border-radius:20px;

margin-top:20px;

cursor:pointer;

}




.section{

padding:40px 20px;

text-align:center;

}




.about{

background:white;

margin:20px;

border-radius:15px;

}




.cards{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}




.card{

background:white;

width:250px;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 15px gray;

}



.card img{

width:100%;

height:150px;

}



.card h3{

margin:10px;

}


.card p{

padding:10px;

}





.contact{

background:#185a9d;

color:white;

}



input,textarea{

width:80%;

max-width:400px;

padding:10px;

margin:10px;

border:none;

border-radius:10px;

}




.submit{

padding:10px 25px;

border:none;

border-radius:20px;

cursor:pointer;

}




footer{

background:#333;

color:white;

padding:15px;

text-align:center;

}
